@implements IDialogContentComponent<Schaad.Accounting.Models.Account>
@rendermode InteractiveServer

<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogBody>
    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />
        <FluentNumberField @bind-Value="@Content.Number" Label="Nummer" Style="width: 300px;"/>
        <FluentTextField @bind-Value="@Content.Name" Label="Name" Style="width: 300px;"/>
        <FluentTextField @bind-Value="@Content.Currency" Label="Währung" Style="width: 300px;"/>
        <FluentTextField @bind-Value="@Content.BankAccountNumber" Label="Bankkonto" Style="width: 300px;"/>
        <FluentNumberField @bind-Value="@Content.StartBalance" Label="Startsaldo" Style="width: 300px;"/>
        <div>
            <FluentValidationSummary />
        </div>
    </EditForm>
</FluentDialogBody>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Neutral"
                  OnClick="@CancelAsync">
        Abbrechen
    </FluentButton>
    <FluentButton Appearance="Appearance.Accent"
                  OnClick="@SaveAsync">
        Speichern
    </FluentButton>
</FluentDialogFooter>