@implements IDialogContentComponent<Schaad.Accounting.Models.BookingText>
@rendermode InteractiveServer

<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogBody>
    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />
        <FluentTextField @bind-Value="@Content.Text" Label="Buchungstext" />
        <div>
            <FluentValidationSummary />
        </div>
    </EditForm>
</FluentDialogBody>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Neutral"
                  OnClick="@CancelAsync">
        Abbrechen
    </FluentButton>
    <FluentButton Appearance="Appearance.Accent"
                  OnClick="@SaveAsync">
        Speichern
    </FluentButton>
</FluentDialogFooter>